= form_for(@holding, :html => { :class => "form-horizontal", :role => "form" } ) do |f|
	- if @holding.errors.any?
		.error_explanation
			%h2
				= pluralize(@holding.errors.count, "error")
				prohibited this holding from being saved:

			%ul
				- @holding.errors.full_messages.each do |msg|
					%li= msg

	.form-group
		= f.label :name, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_field :name, :class => "form-control"

	.form-group
		= f.label :company_id, :class => "control-label col-sm-2"
		.col-sm-5
			= f.select :company_id, options_for_select([["Please select...",""]]+Company.for_select, @holding.company_id), {}, :class => "form-control"

	.form-group
		= f.label :income, :class => "control-label col-sm-2"
		.col-sm-5
			= f.number_field :income, :step => "0.01", :class => "form-control"

	.form-group
		= f.label :expense, :class => "control-label col-sm-2"
		.col-sm-5
			= f.number_field :expense, :step => "0.01", :class => "form-control"

	.form-group
		= f.label :book_value, :class => "control-label col-sm-2"
		.col-sm-5
			= f.number_field :book_value, :step => "0.01", :class => "form-control"

	.form-group
		= f.label :opened_at, :class => "control-label col-sm-2"
		.col-sm-5
			-#= f.date_select :opened_at, :class => "form-control"
			#dtp_opened.input-group.date
				= f.text_field :opened_at, :class => "form-control", :"data-format" => "dd-mmm-yyyy"
				%span.input-group-addon
					%span.glyphicon.glyphicon-calendar

		- td = @holding.opened_at.blank? ? "" : "$('#dtp_opened').data('DateTimePicker').defaultDate(\"#{ @holding.opened_at.strftime('%d-%b-%Y') }\");"
		:javascript
			$(function () {
				$('#dtp_opened').datetimepicker();
				$('#dtp_opened').data("DateTimePicker").format('DD-MMM-YYYY');
				#{ td }
			});

	.form-group
		= f.label :closed_at, :class => "control-label col-sm-2"
		.col-sm-5
			-#= f.date_select :closed_at, :class => "form-control"
			#dtp_closed.input-group.date
				= f.text_field :closed_at, :class => "form-control", :"data-format" => "dd-mmm-yyyy"
				%span.input-group-addon
					%span.glyphicon.glyphicon-calendar

		- td = @holding.closed_at.blank? ? "" : "$('#dtp_closed').data('DateTimePicker').defaultDate(\"#{ @holding.closed_at.strftime('%d-%b-%Y') }\");"
		:javascript
			$(function () {
				$('#dtp_closed').datetimepicker();
				$('#dtp_closed').data("DateTimePicker").format('DD-MMM-YYYY');
				#{ td }
			});

	.form-group
		= f.label :user_id, :class => "control-label col-sm-2"
		.col-sm-5
			-# if @holding.user
				-#= f.hidden_field :user_id, :value => "#{@holding.user.id}"
			= f.select :user_id, options_for_select(User.all.map{|t|[t.name, t.id]}, @holding.user_id), {}, :class => "form-control"

	.actions
		.col-sm-offset-2
			= f.submit class: "btn btn-primary"
