.pull-right{ :style => "margin-top: 22px;" }= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-plus'></span> New Holding</button>".html_safe, new_holding_path, html = {:title => "New"}

%h1= link_to "Listing holdings", :companies

%table.table
	%thead
		%tr
			%th Opening Date
			%th Company
			%th.text-right Income
			%th.text-right Expense
			%th.text-right Book Value
			%th.text-right %
			%th Closing Date
			%th

	%tbody
		- first_one = false # don't really need to see the first one
		- @holdings.each do |holding|
			%tr
				%td
					= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-chevron-down'></span></button>".html_safe, "##{ 'holding' + holding.id.to_s }", html = {:title => "Transactions", :"data-toggle" => "collapse", :role => "button"}
					%span{ :"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Held #{ holding.held }" }
						= holding.opened_at.strftime("%d-%b-%Y") if holding.opened_at
				%td
					= link_to holding.company.ticker, holding.company
					= " - " + holding.company.name if holding.company
				%td.text-right
					= format("&pound; %.2f", holding.income).html_safe if holding.income
				%td.text-right
					= format("&pound; %.2f", holding.expense).html_safe if holding.expense
				%td.text-right{ :class => "#{ holding.book_value.to_f > 0 ? 'text-success' : 'text-danger' }" }
					-#.text-right= transaction.currency_format(transaction.price)
					= format("&pound; %.2f", holding.book_value).html_safe if holding.book_value
				%td.text-right{ :class => "#{ holding.book_value.to_f > 0 ? 'text-success' : 'text-danger' }" }
					= format("%.2f %", (holding.book_value * 100) / holding.expense) if holding.book_value
				%td
					= holding.closed_at.strftime("%d-%b-%Y") if holding.closed_at && holding.closed_at > holding.opened_at
				%td= link_to "<button type='button' class='btn btn-default btn-xs pull-right'><span class='glyphicon glyphicon-eye-open'></span></button>".html_safe, holding, html = {:title => "Show"}
			%tr.collapse{ :id => "#{ 'holding' + holding.id.to_s }", :class => "#{ ' in' if first_one }" }
				%td
				%td{ :colspan => "6" }
					= render :partial => "transactions/list", :object => holding.transactions.order(:trans_date)
				%td
			- first_one = false

%br
%div{ :style => "margin-bottom: 22px;" }= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-plus'></span> New Holding</button>".html_safe, new_holding_path, html = {:title => "New"}

%br
