.pull-right{ :style => "margin-top: 22px;" }= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-plus'></span> New Holding</button>".html_safe, new_holding_path, html = {:title => "New"}

%h1= link_to "Listing holdings", :companies

%table.table
	%thead
		%tr
			%th Opening Date
			%th Company
			%th.text-right Income
			%th.text-right Expense
			%th.text-right Book Value
			%th.text-right %
			%th Closing Date
			%th

	%tbody
		- @holdings.each do |holding|
			%tr
				%td
					= holding.opened_at.strftime("%d-%b-%Y") if holding.opened_at
				%td
					= link_to holding.company.ticker, holding.company
					= " - " + holding.company.name if holding.company
				%td.text-right
					&pound;
					= holding.income
				%td.text-right
					&pound;
					= holding.expense
				%td.text-right
					-#.text-right= transaction.currency_format(transaction.price)
					&pound;
					= holding.book_value
				%td.text-right{ :class => "#{ holding.book_value > 0 ? 'text-success' : 'text-danger' }" }
					= format("%.2f %", (holding.book_value * 100) / holding.expense)
				%td
					= holding.closed_at.strftime("%d-%b-%Y") if holding.closed_at && holding.closed_at > holding.opened_at
				%td= link_to "<button type='button' class='btn btn-default btn-xs pull-right'><span class='glyphicon glyphicon-eye-open'></span></button>".html_safe, holding, html = {:title => "Show"}
			%tr
				%td
				%td{ :colspan => "6" }
					= render :partial => "transactions/list", :object => holding.transactions.order(:trans_date)
				%td

%br

= link_to 'New Holding', new_holding_path
