%p#notice= notice

%h2
	- if !@holding.trans_type.blank?
		= holding::TransTypes::NAMES[@holding.trans_type]
		= @holding.company.ticker + " - " + @holding.company.name if @holding.company 
	- else
		holding

.form-horizontal
	.form-group
		%strong.col-sm-3 Trans date:
		.col-sm-4
			= @holding.trans_date.strftime("%d-%b-%Y") if @holding.trans_date

.form-horizontal
	.form-group
		%strong.col-sm-3 Quantity:
		.col-sm-4
			= @holding.quantity

.form-horizontal
	.form-group
		%strong.col-sm-3 Price:
		.col-sm-4
			= @holding.price
			p

.form-horizontal
	.form-group
		%strong.col-sm-3 Consideration:
		.col-sm-4
			&pound;
			= @holding.consideration

.form-horizontal
	.form-group
		%strong.col-sm-3 Commission:
		.col-sm-4
			&pound;
			= @holding.commission 

.form-horizontal
	.form-group
		%strong.col-sm-3 Stamp Duty:
		.col-sm-4
			&pound;
			= @holding.stamp_duty 

.form-horizontal
	.form-group
		%strong.col-sm-3 PTM_levy:
		.col-sm-4
			&pound;
			= @holding.PTM_levy 

.form-horizontal
	.form-group
		%strong.col-sm-3 Payable:
		.col-sm-4
			&pound;
			= @holding.total_cost 

.form-horizontal
	.form-group
		%strong.col-sm-3 Cost Percent:
		.col-sm-4
			= format("%.2f", @holding.percent_cost).to_s
			\%

.form-horizontal
	.form-group
		%strong.col-sm-3 Bargin Ref:
		.col-sm-4
			= @holding.bargin_ref 

.form-horizontal
	.form-group
		%strong.col-sm-3 Average Cost:
		.col-sm-4
			= format("%.2f p", @holding.avg_cost)

.form-horizontal
	.form-group
		%strong.col-sm-3 Buy Limit:
		.col-sm-4
			= @holding.buy_limit
			p

.form-horizontal
	.form-group
		%strong.col-sm-3 Currency:
		.col-sm-4
			= @holding.currency 

.form-horizontal
	.form-group
		%strong.col-sm-3 Exchange Rate:
		.col-sm-4
			= @holding.x_rate 

.form-horizontal
	.form-group
		%strong.col-sm-3 Ex-dividend Date:
		.col-sm-4
			= @holding.ex_div_date 

.form-horizontal
	.form-group
		%strong.col-sm-3 Payment Date:
		.col-sm-4
			= @holding.payment_date 

.form-horizontal
	.form-group
		%strong.col-sm-3 Issue Date:
		.col-sm-4
			= @holding.issue_date 

.form-horizontal
	.form-group
		%strong.col-sm-3 Dividend Price:
		.col-sm-4
			= @holding.div_price 

.form-horizontal
	.form-group
		%strong.col-sm-3 Dividend Net Total:
		.col-sm-4
			= @holding.div_net_total 

.form-horizontal
	.form-group
		%strong.col-sm-3 Person (director etc?):
		/ Needs to change to id link to people table
		.col-sm-4
			= @holding.person 

.form-horizontal
	.form-group
		%strong.col-sm-3 User:
		.col-sm-4
			= @holding.user.name if @holding.user


= link_to 'Edit', edit_holding_path(@holding)
|
= link_to 'Index', holdings_path
