%p#notice= notice

.pull-right= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-trash'></span></button>".html_safe, @holding, method: :delete, data: { confirm: 'Are you sure you want to DELETE this holding?' }, :title => "Destroy"

= link_to '&laquo; All Holdings'.html_safe, holdings_path

%h2
	= @holding.name
	\-
	= link_to @holding.portfolio.name, @holding.portfolio if @holding.portfolio

%h3
	= @holding.company.ticker + " - " + @holding.company.name if @holding.company 
	= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-pencil'></span></button>".html_safe, edit_holding_path(@holding), html = {:title => "Edit"}

.form-horizontal
	.form-group
		%strong.col-sm-3 Opening date:
		.col-sm-4
			= @holding.opened_at.strftime("%d-%b-%Y") if @holding.opened_at

.form-horizontal
	.form-group
		%strong.col-sm-3 Closing date:
		.col-sm-4
			- if @holding.closed_at && @holding.opened_at && @holding.closed_at > @holding.opened_at
				= @holding.closed_at.strftime("%d-%b-%Y")
			(
			= @holding.held
			)

.form-horizontal
	.form-group
		%strong.col-sm-3 Company:
		.col-sm-5
			= link_to @holding.company.name, @holding.company if @holding.company

.form-horizontal
	.form-group
		%strong.col-sm-3 Income:
		.col-sm-5.text-success
			&pound;
			= @holding.income.to_f

.form-horizontal
	.form-group
		%strong.col-sm-3 Expense:
		.col-sm-5.text-danger
			&pound;
			= @holding.expense.to_f

.form-horizontal
	.form-group
		%strong.col-sm-3 Book Value:
		.col-sm-5{ :class => "#{ @holding.book_value.to_f > 0 ? 'text-success' : 'text-danger' }" }
			&pound;
			= @holding.book_value.to_f

.form-horizontal
	.form-group
		%strong.col-sm-3 % Gain / Loss
		.col-sm-5{ :class => "#{ @holding.book_value.to_f > 0 ? 'text-success' : 'text-danger' }" }
			= format("%.2f %", (@holding.book_value.to_f * 100) / @holding.expense) if @holding.book_value

-#.form-horizontal
	-#.form-group
		-#%strong.col-sm-3 User:
		-#.col-sm-5
			-#if @holding.user
				-#= @holding.user.name


= link_to 'Edit', edit_holding_path(@holding)
|
= link_to 'All Holdings', holdings_path
%br
%br
%br

.row
	.col-md-12
		= render :partial => "transactions/list", :object => @holding.transactions.order(:trans_date), :locals => { :show_header => true }

