.pull-right{ :style => "margin-top: 22px;" }= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-plus'></span> New portfolio</button>".html_safe, new_portfolio_path, html = {:title => "New"}

%h1= link_to "Listing portfolios", :companies

%table.table
	%thead
		%tr
			%th Opening Date
			%th Company
			%th.text-right Income
			%th.text-right Expense
			%th.text-right Book Value
			%th.text-right %
			%th Closing Date
			%th

	%tbody
		- first_one = false # don't really need to see the first one
		- @portfolios.each do |portfolio|
			%tr
				%td
					= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-chevron-down'></span></button>".html_safe, "##{ 'portfolio' + portfolio.id.to_s }", html = {:title => "Transactions", :"data-toggle" => "collapse", :role => "button"}
					%span{ :"data-toggle" => "tooltip", :"data-placement" => "top", :title => "Held #{ portfolio.held }" }
						= portfolio.opened_at.strftime("%d-%b-%Y") if portfolio.opened_at
				%td
					= link_to portfolio.company.ticker, portfolio.company
					= " - " + portfolio.company.name if portfolio.company
				%td.text-right
					= format("&pound; %.2f", portfolio.income).html_safe if portfolio.income
				%td.text-right
					= format("&pound; %.2f", portfolio.expense).html_safe if portfolio.expense
				%td.text-right{ :class => "#{ portfolio.book_value.to_f > 0 ? 'text-success' : 'text-danger' }" }
					-#.text-right= transaction.currency_format(transaction.price)
					= format("&pound; %.2f", portfolio.book_value).html_safe if portfolio.book_value
				%td.text-right{ :class => "#{ portfolio.book_value.to_f > 0 ? 'text-success' : 'text-danger' }" }
					= format("%.2f %", (portfolio.book_value * 100) / portfolio.expense) if portfolio.book_value
				%td
					= portfolio.closed_at.strftime("%d-%b-%Y") if portfolio.closed_at && portfolio.closed_at > portfolio.opened_at
				%td= link_to "<button type='button' class='btn btn-default btn-xs pull-right'><span class='glyphicon glyphicon-eye-open'></span></button>".html_safe, portfolio, html = {:title => "Show"}
			%tr.collapse{ :id => "#{ 'portfolio' + portfolio.id.to_s }", :class => "#{ ' in' if first_one }" }
				%td
				%td{ :colspan => "6" }
					= render :partial => "transactions/list", :object => portfolio.transactions.order(:trans_date)
				%td
			- first_one = false

%br
%div{ :style => "margin-bottom: 22px;" }= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-plus'></span> New portfolio</button>".html_safe, new_portfolio_path, html = {:title => "New"}

%br
