%p#notice= notice

.pull-right= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-trash'></span></button>".html_safe, @portfolio, method: :delete, data: { confirm: 'Are you sure you want to DELETE this portfolio?' }, :title => "Destroy"

= link_to '&laquo; All portfolios'.html_safe, portfolios_path

%h2
	= @portfolio.name

%h3
	= @portfolio.name
	= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-pencil'></span></button>".html_safe, edit_portfolio_path(@portfolio), html = {:title => "Edit"}

.form-horizontal
	.form-group
		%strong.col-sm-3 Market Value:
		.col-sm-5.text-danger
			&pound;
			= @portfolio.mkt_value.to_f

.form-horizontal
	.form-group
		%strong.col-sm-3 Book Value:
		.col-sm-5{ :class => "#{ @portfolio.book_cost.to_f > 0 ? 'text-success' : 'text-danger' }" }
			&pound;
			= @portfolio.book_cost.to_f

.form-horizontal
	.form-group
		%strong.col-sm-3 % Gain / Loss
		.col-sm-5{ :class => "#{ @portfolio.book_cost.to_f > 0 ? 'text-success' : 'text-danger' }" }
			= format("%.2f %", (@portfolio.book_cost.to_f * 100) / @portfolio.mkt_value) if @portfolio.book_cost && @portfolio.mkt_value

-#.form-horizontal
	-#.form-group
		-#%strong.col-sm-3 User:
		-#.col-sm-5
			-#if @portfolio.user
				-#= @portfolio.user.name


= link_to 'Edit', edit_portfolio_path(@portfolio)
|
= link_to 'All Portfolios', portfolios_path
%br
%br
%br
-# Add holdings here!
.row
	.col-md-12
		= render :partial => "holdings/list", :object => @portfolio.holdings.order(:opened_at), :locals => { :show_header => true, :include_name => true }
