= form_for(@user, :html => { :class => "form-horizontal", :role => "form" } ) do |f|
	= if @user.errors.any?
		#error_explanation
			%h2
				= pluralize(@user.errors.count, "error")
				prohibited this user from being saved:

			%ul
				- @user.errors.full_messages.each do |msg|
					%li= msg

	.form-group
		= f.label :name, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_field :name, :class => "form-control autofocus"

	.form-group
		= f.label :email, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_field :email, :class => "form-control"

	.form-group
		= f.label :password, :class => "control-label col-sm-2"
		.col-sm-5
			= f.password_field :password, :class => "form-control"

	.form-group
		= f.label :password_confirmation, "Confirmation", :class => "control-label col-sm-2"
		.col-sm-5
			= f.password_field :password_confirmation, :class => "form-control"

	- if is_admin?
		.form-group
			= f.label "Level", :class => "control-label col-sm-2"
			.col-sm-5
				= f.select :level, options_for_select(User::LevelType.for_select, @user.level), {}, :class => "form-control"

	.actions
		.col-sm-offset-2
			= f.submit class: "btn btn-primary"

	:javascript
		$('[autofocus]:first').focus();
