= form_for(@company, :html => { :class => "form-horizontal", :role => "form" } ) do |f|
	- if @company.errors.any?
		%div#error_explanation
			%h2
				= pluralize(@company.errors.count, "error")
				prohibited this company from being saved:

			%ul
				- @company.errors.full_messages.each do |msg|
					%li= msg

	.form-group
		= f.label :ticker, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_field :ticker, :class => "form-control autofocus"

	.form-group
		= f.label :name, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_field :name, :class => "form-control"

	.form-group
		= f.label :description, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_area :description, :class => "form-control", :rows => "5"

	.form-group
		= f.label :reference, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_area :reference, :class => "form-control", :rows => "5"

	.form-group
		= f.label :country, :class => "control-label col-sm-2"
		.col-sm-5
			-#= f.text_field :country, :class => "form-control"
			= f.select :country, options_for_select(Company::Country.for_select, @company.country), {}, :class => "form-control"

	.form-group
		= f.label :bourse, :class => "control-label col-sm-2"
		.col-sm-5
			-#= f.text_field :bourse, :class => "form-control"
			= f.select :bourse, options_for_select(Company::Bourse.for_select, @company.bourse), {}, :class => "form-control"

	.form-group
		= f.label :currency, :class => "control-label col-sm-2"
		.col-sm-5
			-#= f.text_field :currency, :class => "form-control"
			= f.select :currency, options_for_select(Transaction::TransCurrency.for_select, @company.currency), {}, :class => "form-control"

	.form-group
		= f.label :sector, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_field :sector, :class => "form-control"

	.form-group
		= f.label :Address, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_area :address, :class => "form-control", :rows => "5"

	.form-group
		= f.label :Web_Site, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_field :www_address, :class => "form-control"

	.form-group
		= f.label :year_incorporated, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_field :year_inc, :class => "form-control"

	.form-group
		= f.label :market_sector, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_field :mkt_sector, :class => "form-control"

	.form-group
		= f.label :market_segment, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_field :mkt_segment, :class => "form-control"

	.form-group
		= f.label :isin, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_field :isin, :class => "form-control"

	.form-group
		= f.label :share_type, :class => "control-label col-sm-2"
		.col-sm-5
			= f.text_field :share_type, :class => "form-control"

	.actions
		.col-sm-offset-2
			= f.submit class: "btn btn-primary"

	:javascript
		$('[autofocus]:first').focus();