.pull-right{ :style => "margin-top: 22px;" }= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-plus'></span> New Company</button>".html_safe, new_company_path, html = {:title => "New"}


%h1{ :style => "float: left;" }= link_to "Companies", :transactions

%div{ :style => "text-align: center; margin-top: 10px" }
	%img{ :src => "https://ci6.googleusercontent.com/proxy/BS5kQSl7fwg_CUsYJsyV3h4ajvfDaPi5hG0nrUGD3rZx9R5JpBNyjMQAc99RSS23qOavBv0hRqsAf25v=s0-d-e1-ft#http://uk.advfn.com/ct.php?ct=NzM5NTU=" }
	%br
	FTSE 100

- if !@companies.blank?
	%table.table
		%thead
			%tr
				%th Ticker
				%th Name
				-#%th Desc
				%th Ref
				%th Currency
				%th Country
				%th Bourse
				%th Sector
				%th Year Inc
				%th Mkt Sector
				%th Mkt Segment
				%th ISIN
				%th Share Type

		%tbody
			- current_job = nil
			- @companies.each do |co|
				%tr
					%td= link_to co.ticker, co
					%td= co.www_address.blank? ? co.name : link_to( co.name, co.www_address, :target => "_blank" )
					-#%td
						-#= co.description
					%td{ :"data-toggle" => "tooltip", :"data-placement" => "top", :title => "#{ co.description }" }
						= co.reference
					%td= Transaction::TransCurrency::NAMES[co.currency]
					%td= co.country
					%td= co.bourse
					%td= co.sector
					%td= co.year_inc
					%td= co.mkt_sector
					%td= co.mkt_segment
					%td= co.isin
					%td= co.share_type
