.center-block
	%p#notice= notice

	.pull-right= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-trash'></span></button>".html_safe, @company, method: :delete, data: { confirm: 'Are you sure you want to DELETE this company?' }, :title => "Destroy"

	= link_to '&laquo; All Companies'.html_safe, companies_path

	%H1
		= link_to (@company.name + " <span class='glyphicon glyphicon-blackboard' aria-hidden='true'></span>").html_safe, "http://uk.advfn.com/p.php?pid=financials&symbol=#{@company.bourse}%3A#{@company.ticker.sub("-", ".")}", :target => "_blank" if !@company.bourse.blank? && !@company.ticker.blank?
		(
		-#= link_to @company.ticker, "https://uk.finance.yahoo.com/q?s=" + @company.ticker + "&ql=1", :target => "_blank" if !@company.ticker.blank?
		= link_to (@company.ticker + " <span class='glyphicon glyphicon-info-sign' aria-hidden='true'></span>").html_safe, "https://www.google.co.uk/finance?q=#{@company.bourse}%3A#{@company.ticker.sub("-", ".")}&authuser=0", :target => "_blank" if !@company.bourse.blank? && !@company.ticker.blank?
		)
		= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-pencil'></span></button>".html_safe, edit_company_path(@company), html = {:title => "Edit"}

	.panel.panel-default
		.panel-heading
			%h3
				Bourse:
				= @company.bourse
		.panel-body
			-#= debug(@new_price)
			-#= @new_price		# Problem just before US opens = [["93.42", "1/27/2016", "4:00pm", "N/A"]]
			-#= @new_price    # e.g. = [["1558.5000", "9/24/2015", "10:49am", "-17.0000 - -1.0790%"]]
			- price_a = @new_price.join(',')
			-#= debug(price_a)
			- price_a = price_a.split(',')
			%strong
				= @company.bourse.eql?('LSE') ? price_a[0] + 'p' : '$'.html_safe + price_a[0];
				- p = price_a[3]
				-#= debug(p)
				- c = ""
				- if p[0].eql?('+')
					- c = "stock-up"
					- g = "glyphicon-arrow-up"
					- le_price_change = p[1..p.index(' ')]
					- le_percent = p[p.index(' - ')+4..p.length()]
				- else
					- c = "stock-down"
					- g = "glyphicon-arrow-down"
					- le_price_change = p[0..p.index(' ')]
					- le_percent = p[p.index(' - ')+3..p.length()]

				%span{ :class => "#{c}" }
					= "&nbsp;&nbsp;".html_safe
					%span{ :class => "glyphicon #{g}" }
					= le_price_change
					= "(#{le_percent})"
					-#= price_a[3]
			%br
			= price_a[2].to_time.strftime('%H:%M')
			- the_date = price_a[1].split('/')
			= (the_date[2] + "-" + the_date[0] + "-" + the_date[1]).to_date.strftime('%d-%b-%Y')
			-##= price_a[1]

	%dl.dl-horizontal
		%dt Sector:
		%dd= Company::Sector::NAMES[@company.sector] if @company.sector

		%dt Description:
		%dd= @company.description.gsub(/\n/, "<br />").html_safe

		%dt Reference:
		%dd= @company.reference

		%dt Currency:
		%dd= Transaction::TransCurrency::NAMES[@company.currency]

		%dt Country:
		%dd= @company.country

		%dt Address:
		%dd{ :itemprop => "address", :itemscope => true, :itemtype => "http://schema.org/PostalAddress" }
			%address= @company.address.gsub(/\n/, "<br />").html_safe if !@company.address.blank?

		%dt WWW Address:
		%dd= link_to @company.www_address, @company.www_address, :target => "_blank" if !@company.www_address.blank?

		%dt Year Incorporated:
		%dd= @company.year_inc

		%dt Market Sector:
		%dd= @company.mkt_sector

		%dt Market Segment:
		%dd= @company.mkt_segment

		%dt ISIN:
		%dd= @company.isin

		%dt Share Type:
		%dd= @company.share_type
%br
%br
- if @company.holdings.any?
	%hr

	.list-group
		%a.list-group-item.active
			Holdings

		- @company.holdings.each do |h|
			= link_to h.name, h, :class => "list-group-item"

