.center-block
	%p#notice= notice

	.pull-right= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-trash'></span></button>".html_safe, @company, method: :delete, data: { confirm: 'Are you sure you want to DELETE this company?' }, :title => "Destroy"

	= link_to '&laquo; Index'.html_safe, companies_path

	%H1
		= @company.name
		(
		-#= link_to @company.ticker, "https://uk.finance.yahoo.com/q?s=" + @company.ticker + "&ql=1", :target => "_blank" if !@company.ticker.blank?
		= link_to @company.ticker, "https://www.google.co.uk/finance?q=#{@company.bourse}%3A#{@company.ticker}&authuser=0", :target => "_blank" if !@company.bourse.blank? && !@company.ticker.blank?
		)
		= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-pencil'></span></button>".html_safe, edit_company_path(@company), html = {:title => "Edit"}

	.panel.panel-default
		.panel-heading
			%h3
				Bourse:
				= @company.bourse
		.panel-body
			-#= debug(@new_price)
			-#= @new_price    # e.g. = [["1558.5000", "9/24/2015", "10:49am", "-17.0000 - -1.0790%"]]
			- price_a = @new_price.join(',')
			-#= debug(price_a)
			- price_a = price_a.split(',')
			%strong
				= @company.bourse.eql?('LSE') ? price_a[0] + 'p' : '$'.html_safe + price_a[0];
				- p = price_a[3]
				-#= debug(p)\
				- c = ""
				- if p[0].eql?('+')
					- c = "stock-up"
					- g = "glyphicon-arrow-up"
					- le_price_change = p[1..p.index(' ')]
					- le_percent = p[p.index(' - ')+4..p.length()]
				- else
					- c = "stock-down"
					- g = "glyphicon-arrow-down"
					- le_price_change = p[0..p.index(' ')]
					- le_percent = p[p.index(' - ')+3..p.length()]

				%span{ :class => "#{c}" }
					= "&nbsp;&nbsp;".html_safe
					%span{ :class => "glyphicon #{g}" }
					= le_price_change
					= "(#{le_percent})"
					-#= price_a[3]
			%br
			= price_a[2].to_time.strftime('%H:%M')
			- the_date = price_a[1].split('/')
			= (the_date[2] + "-" + the_date[0] + "-" + the_date[1]).to_date.strftime('%d-%b-%Y')
			-#= price_a[1]

	%p
		%strong Sector:
		= @company.sector

	%p
		%strong Description:
		= @company.description

	%p
		%strong Reference:
		= @company.reference

	%p
		%strong Currency:
		= Transaction::TransCurrency::NAMES[@company.currency]

	%p
		%strong Country:
		= @company.country

	%p
		%strong Year Incorporated:
		= @company.year_inc

	%p
		%strong Market Sector:
		= @company.mkt_sector

	%p
		%strong Market Segment:
		= @company.mkt_segment

	%p
		%strong WWW Address:
		= link_to @company.www_address, @company.www_address, :target => "_blank" if !@company.www_address.blank?

	%p
		%strong ISIN:
		= @company.isin

	%p
		%strong Share Type:
		= @company.share_type
