.center-block
	%p#notice= notice

	%H1= @company.name + " (" + @company.ticker + ")"

	%h2
		%strong Bourse:
		= @company.bourse

	%p
		%strong Sector:
		= @company.sector

	%p
		%strong Description:
		= @company.description

	%p
		%strong Reference:
		= @company.reference

	%p
		%strong Currency:
		= @company.currency

	%p
		%strong Country:
		= @company.country

	%p
		%strong Year Incorporated:
		= @company.year_inc

	%p
		%strong Market Sector:
		= @company.mkt_sector

	%p
		%strong Market Segment:
		= @company.mkt_segment

	%p
		%strong WWW Address:
		= @company.www_address

	%p
		%strong ISIN:
		= @company.isin

	%p
		%strong Share Type:
		= @company.share_type


	= link_to 'Edit', edit_company_path(@company)
	|
	= link_to 'Back', companies_path
	|
	= link_to 'Destroy', @company, method: :delete, data: { confirm: 'Are you sure you want to DELETE this company?' }

