= form_for(@transaction, :html => { :class => "form-horizontal", :role => "form" } ) do |f|
	- if @transaction.errors.any?
		.error_explanation
			%h2
				= pluralize(@transaction.errors.count, "error")
				prohibited this transaction from being saved:

			%ul
				- @transaction.errors.full_messages.each do |msg|
					%li= msg

	.form-group
		= f.label :trans_type, :class => "control-label col-sm-2"
		.col-sm-5
			= f.select :trans_type, options_for_select(Transaction::TransTypes.for_select, @transaction.trans_type), {}, :class => "form-control"

	.form-group
		= f.label :trans_date, :class => "control-label col-sm-2"
		.col-sm-5
			-#= f.date_select :trans_date, :class => "form-control"
			#datetimepicker1.input-group.date
				= f.text_field :trans_date, :class => "form-control", :"data-format" => "dd-mmm-yyyy"
				%span.input-group-addon
					%span.glyphicon.glyphicon-calendar
		
		- td = @transaction.trans_date.blank? ? "" : "$('#datetimepicker1').data('DateTimePicker').defaultDate(\"#{ @transaction.trans_date.strftime('%d-%b-%Y') }\");"
		:javascript
			$(function () {
				$('#datetimepicker1').datetimepicker();
				$('#datetimepicker1').data("DateTimePicker").format('DD-MMM-YYYY');
				#{ td }
			});

	.form-group
		= f.label :holding_id, :class => "control-label col-sm-2"
		.col-sm-5
			-# if @transaction.user
				-#= f.hidden_field :user_id, :value => "#{@transaction.user.id}"
			= f.select :holding_id, options_for_select(Holding.order(:name).all.map{|t|[t.company.ticker + " - " + t.name.to_s, t.id]}, @transaction.holding_id), {}, :class => "form-control"
			-# I think I'll need to .join Holding and Company and then .order by .company_name

	.form-group
		= f.label :company_id, :class => "control-label col-sm-2"
		.col-sm-5
			= f.select :company_id, options_for_select([["Please select...",""]]+Company.for_select, @transaction.company_id), {}, :class => "form-control"

	.form-group
		= f.label :quantity, :class => "control-label col-sm-2"
		.col-sm-5
			= f.number_field :quantity, :class => "form-control"

	.panel.panel-default
		.panel-heading
			Buy / Sell
		.panel-body

			.form-group
				= f.label :price, :class => "control-label col-sm-2"
				.col-sm-5
					= f.number_field :price, :class => "form-control", :step => "any"

			.form-group
				= f.label :consideration, :class => "control-label col-sm-2"
				.col-sm-5.input-group
					%span.input-group-addon &pound;
					= f.number_field :consideration, :class => "form-control", :step => "any"

			.form-group
				= f.label :commission, :class => "control-label col-sm-2"
				.col-sm-5.input-group
					%span.input-group-addon &pound;
					= f.number_field :commission, :class => "form-control", :step => "any"

			.form-group
				= f.label :stamp_duty, :class => "control-label col-sm-2"
				.col-sm-5.input-group
					%span.input-group-addon &pound;
					= f.number_field :stamp_duty, :class => "form-control", :step => "any"

			.form-group
				= f.label :PTM_levy, :class => "control-label col-sm-2"
				.col-sm-5.input-group
					%span.input-group-addon &pound;
					= f.number_field :PTM_levy, :class => "form-control", :step => "any"

			.form-group
				= f.label :bargin_ref, :class => "control-label col-sm-2"
				.col-sm-5
					= f.text_field :bargin_ref, :class => "form-control"

			.form-group
				= f.label :buy_limit, :class => "control-label col-sm-2"
				.col-sm-5
					= f.number_field :buy_limit, :class => "form-control", :step => "any"

			.form-group
				= f.label :currency, :class => "control-label col-sm-2"
				.col-sm-5
					-#= f.text_field :currency, :class => "form-control"
					= f.select :currency, options_for_select(Transaction::TransCurrency.for_select, @transaction.currency), {}, :class => "form-control"

			.form-group
				= f.label :x_rate, :class => "control-label col-sm-2"
				.col-sm-5.input-group
					= f.number_field :x_rate, :class => "form-control", :step => "any"
					%span.input-group-addon / &pound;


	.panel.panel-default
		.panel-heading
			Dividends
		.panel-body

			.form-group
				= f.label :ex_div_date, :class => "control-label col-sm-2"
				.col-sm-5
					-#= f.date_select :ex_div_date, :class => "form-control"
					#dtp_exdiv.input-group.date
						= f.text_field :ex_div_date, :class => "form-control", :"data-format" => "dd-mmm-yyyy"
						%span.input-group-addon
							%span.glyphicon.glyphicon-calendar

				- td = @transaction.ex_div_date.blank? ? "" : "$('#dtp_exdiv').data('DateTimePicker').defaultDate(\"#{ @transaction.ex_div_date.strftime('%d-%b-%Y') }\");"
				:javascript
					$(function () {
						$('#dtp_exdiv').datetimepicker();
						$('#dtp_exdiv').data("DateTimePicker").format('DD-MMM-YYYY');
						#{ td }
					});


			.form-group
				= f.label :payment_date, :class => "control-label col-sm-2"
				.col-sm-5
					-#= f.date_select :payment_date, :class => "form-control"
					#dtp_pmt.input-group.date
						= f.text_field :payment_date, :class => "form-control", :"data-format" => "dd-mmm-yyyy"
						%span.input-group-addon
							%span.glyphicon.glyphicon-calendar

				- td = @transaction.payment_date.blank? ? "" : "$('#dtp_pmt').data('DateTimePicker').defaultDate(\"#{ @transaction.payment_date.strftime('%d-%b-%Y') }\");"
				:javascript
					$(function () {
						$('#dtp_pmt').datetimepicker();
						$('#dtp_pmt').data("DateTimePicker").format('DD-MMM-YYYY');
						#{ td }
					});

			.form-group
				= f.label :issue_date, :class => "control-label col-sm-2"
				.col-sm-5
					-#= f.date_select :issue_date, :class => "form-control"
					#dtp_issue.input-group.date
						= f.text_field :issue_date, :class => "form-control", :"data-format" => "dd-mmm-yyyy"
						%span.input-group-addon
							%span.glyphicon.glyphicon-calendar
							
				- td = @transaction.issue_date.blank? ? "" : "$('#dtp_issue').data('DateTimePicker').defaultDate(\"#{ @transaction.issue_date.strftime('%d-%b-%Y') }\");"
				:javascript
					$(function () {
						$('#dtp_issue').datetimepicker();
						$('#dtp_issue').data("DateTimePicker").format('DD-MMM-YYYY');
						#{ td }
					});

			.form-group
				= f.label :div_price, :class => "control-label col-sm-2"
				.col-sm-5
					= f.number_field :div_price, :class => "form-control", :step => "any"

			.form-group
				= f.label "Dividend Gross", :class => "control-label col-sm-2"
				.col-sm-5.input-group
					- if !@transaction.currency.blank?
						%span.input-group-addon= @transaction.currency.eql?(Transaction::TransCurrency::GBP) ? "&pound;".html_safe : "$"
					= f.number_field :div_gross, :class => "form-control", :step => "any"

			.form-group
				= f.label "Tax Rate", :class => "control-label col-sm-2"
				.col-sm-5.input-group
					= f.number_field :div_tax_rate, :class => "form-control", :step => "any"
					%span.input-group-addon %

			.form-group
				= f.label "Tax Credit", :class => "control-label col-sm-2"
				.col-sm-5.input-group
					%span.input-group-addon &pound;
					= f.number_field :div_tax_credit, :class => "form-control", :step => "any"

			.form-group
				= f.label :div_net_total, :class => "control-label col-sm-2"
				.col-sm-5.input-group
					%span.input-group-addon &pound;
					= f.number_field :div_net_total, :class => "form-control", :step => "any"

	.form-group
		= f.label :person, :class => "control-label col-sm-2"
		.col-sm-5
			= f.number_field :person, :class => "form-control"

	.form-group
		= f.label :user_id, :class => "control-label col-sm-2"
		.col-sm-5
			-# if @transaction.user
				-#= f.hidden_field :user_id, :value => "#{@transaction.user.id}"
			= f.select :user_id, options_for_select(User.all.map{|t|[t.name, t.id]}, @transaction.user_id), {}, :class => "form-control"

	.actions
		.col-sm-offset-2
			= f.submit class: "btn btn-primary"
