%p#notice= notice

= link_to '&laquo; Index'.html_safe, transactions_path

%h2
	- if !@transaction.trans_type.blank?
		= Transaction::TransTypes::NAMES[@transaction.trans_type]
		= @transaction.company.ticker + " - " + @transaction.company.name if @transaction.company 
	- else
		Transaction

	= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-pencil'></span></button>".html_safe, edit_transaction_path(@transaction), html = {:title => "Edit"}

.form-horizontal
	.form-group
		%strong.col-sm-3 Trans date:
		.col-sm-4
			= @transaction.trans_date.strftime("%d-%b-%Y") if @transaction.trans_date

.form-horizontal
	.form-group
		%strong.col-sm-3 Quantity:
		.col-sm-4
			= @transaction.quantity

.form-horizontal
	.form-group
		%strong.col-sm-3 Price:
		.col-sm-4
			= @transaction.currency_format(@transaction.price)
			-#p

.form-horizontal
	.form-group
		%strong.col-sm-3 Consideration:
		.col-sm-4
			&pound;
			= @transaction.consideration

.form-horizontal
	.form-group
		%strong.col-sm-3 Commission:
		.col-sm-4
			&pound;
			= @transaction.commission 

.form-horizontal
	.form-group
		%strong.col-sm-3 Stamp Duty:
		.col-sm-4
			&pound;
			= @transaction.stamp_duty 

.form-horizontal
	.form-group
		%strong.col-sm-3 PTM_levy:
		.col-sm-4
			&pound;
			= @transaction.PTM_levy 

.form-horizontal
	.form-group
		%strong.col-sm-3 Payable:
		.col-sm-4
			&pound;
			= @transaction.total_cost 

.form-horizontal
	.form-group
		%strong.col-sm-3 Cost Percent:
		.col-sm-4
			= format("%.2f", @transaction.percent_cost).to_s
			\%

.form-horizontal
	.form-group
		%strong.col-sm-3 Bargin Ref:
		.col-sm-4
			= @transaction.bargin_ref 

.form-horizontal
	.form-group
		%strong.col-sm-3 Average Cost:
		.col-sm-4
			= format("%.2f p", @transaction.avg_cost)

.form-horizontal
	.form-group
		%strong.col-sm-3 Buy Limit:
		.col-sm-4
			= @transaction.buy_limit
			p

.form-horizontal
	.form-group
		%strong.col-sm-3 Currency:
		.col-sm-4
			= Transaction::TransCurrency::NAMES[@transaction.currency]

.form-horizontal
	.form-group
		%strong.col-sm-3 Exchange Rate:
		.col-sm-4
			= @transaction.x_rate 

.form-horizontal
	.form-group
		%strong.col-sm-3 Ex-dividend Date:
		.col-sm-4
			= @transaction.ex_div_date 

.form-horizontal
	.form-group
		%strong.col-sm-3 Payment Date:
		.col-sm-4
			= @transaction.payment_date 

.form-horizontal
	.form-group
		%strong.col-sm-3 Issue Date:
		.col-sm-4
			= @transaction.issue_date 

.form-horizontal
	.form-group
		%strong.col-sm-3 Dividend Price:
		.col-sm-4
			= @transaction.div_price 

.form-horizontal
	.form-group
		%strong.col-sm-3 Dividend Net Total:
		.col-sm-4
			= @transaction.div_net_total 

.form-horizontal
	.form-group
		%strong.col-sm-3 Person (director etc?):
		/ Needs to change to id link to people table
		.col-sm-4
			= @transaction.person 

.form-horizontal
	.form-group
		%strong.col-sm-3 Holding:
		.col-sm-4
			= @transaction.holding.company.name if @transaction.holding

.form-horizontal
	.form-group
		%strong.col-sm-3 User:
		.col-sm-4
			= @transaction.user.name if @transaction.user


= link_to 'Edit', edit_transaction_path(@transaction)
|
= link_to 'Index', transactions_path
